body{
    background-color:lightgreen;
    text-align:center;
    background: linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
}

img{
    height:80px;
    width:80px;
    border:solid;
    margin-top:100px;
    border-radius:50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button{
    height:70px;
    width:320px;
    font-size:20px;
    font-weight:bold;
    background-color:gold;
    margin-top: 20px;
    border:solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition:transform.2s;
    margin-top:20px;
}

button:hover{
    transform: scale(0.9);
}
#head{
    font-size:40px;
    font-style: italic;
    text-decoration: underline;
   
}
#main{
    border:solid;
    margin-top:10px;
    background: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1{
    font-size:25px;
    font-style: italic;
    text-decoration: underline;  
}
#menu{
    margin-top:40px;
    border:solid;   
    padding:10px;
    background-image: linear-gradient(to right, #1bb46c, #02c288, #00d0a3, #00debe, #12ebd8);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#sol
{
    font-size:20px;
    width:150px;
    margin-left:10px;
    margin-bottom:10px;
    margin-top:10px;
    
}
#min
{
    background-image: linear-gradient(to right top, #986bd1, #9179d8, #8b86dd, #8791e0, #879ce2, #849de5, #809ee7, #7c9fea, #7297ef, #6a8ef4, #6386f8, #5f7cfb);
    border:solid;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top:30px;
    margin-bottom:30px;
}
#about{
    margin-top:30px;
}